###  Chitramoy Mukherjee
###  DSC 540-T302
### Week-5 and Week-6
### Date : 09/29/2023

Open the page in a separate chrome/firefox tab and use something like inspect element tool to see the source HTML and understand the structure
Read the page using bs4
Find the table structure you will need to deal with (how many tables are there)
Find the right table using bs4
Separate the Source Names and their corresponding data
Get the source names from the list of sources you have created
Seperate the header and data from the data that you separated before. For the first source only. And then create a DataFrame using that
Repeat the last task for the other two data sources.

In [9]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import urllib.request
import time
import numpy as np
import matplotlib.pyplot as plt
from urllib.request import urlopen

In [20]:
#Read the page using bs4
fd = open("List of countries by GDP (nominal) - Wikipedia.htm", "r",encoding="utf8")
soup = BeautifulSoup(fd)
fd.close()

In [21]:
# Identify the table count
all_tables = soup.find_all("table")
print("Total number of tables are {} ".format(len(all_tables)))

Total number of tables are 9

In [22]:
data_table = soup.find("table", {"class": '"wikitable"|}'})
print(type(data_table))

<class 'bs4.element.Tag'>

In [23]:
sources = data_table.tbody.findAll('tr', recursive=False)[0]
sources_list = [td for td in sources.findAll('td')]
print(len(sources_list))

3

In [24]:
data = data_table.tbody.findAll('tr', recursive=False)[1].findAll('td', recursive=False)

In [25]:
data_tables = []
for td in data:
    data_tables.append(td.findAll('table'))

In [26]:
len(data_tables)

3

In [27]:
source_names = [source.findAll('a')[0].getText() for source in sources_list]
print(source_names)

['International Monetary Fund', 'World Bank', 'United Nations']

In [28]:
header1 = [th.getText().strip() for th in data_tables[0][0].findAll('thead')[0].findAll('th')]
header1

['Rank', 'Country', 'GDP(US$MM)']

In [29]:
rows1 = data_tables[0][0].findAll('tbody')[0].findAll('tr')[1:]

In [30]:
data_rows1 = [[td.get_text().strip() for td in tr.findAll('td')] for tr in rows1]

In [31]:
df1 = pd.DataFrame(data_rows1, columns=header1)

In [32]:
df1.head()

  Rank         Country  GDP(US$MM)
0    1   United States  19,390,600
1    2      China[n 1]  12,014,610
2    3           Japan   4,872,135
3    4         Germany   3,684,816
4    5  United Kingdom   2,624,529

In [33]:
header2 = [th.getText().strip() for th in data_tables[1][0].findAll('thead')[0].findAll('th')]
header2

['Rank', 'Country', 'GDP(US$MM)']

In [34]:
rows2 = data_tables[1][0].findAll('tbody')[0].findAll('tr')[1:]

In [35]:
def find_right_text(i, td):
    if i == 0:
        return td.getText().strip()
    elif i == 1:
        return td.getText().strip()
    else:
        index = td.text.find("â™ ")
        return td.text[index+1:].strip()

In [37]:
data_rows2 = [[find_right_text(i, td) for i, td in enumerate(tr.findAll('td'))] for tr in rows2]

In [38]:
df2 = pd.DataFrame(data_rows2, columns=header2)

In [39]:
df2.head()

  Rank             Country  GDP(US$MM)
0    1       United States  19,390,604
1       European Union[23]  17,277,698
2    2          China[n 4]  12,237,700
3    3               Japan   4,872,137
4    4             Germany   3,677,439

In [13]:
# Read the visit_data.csv

df_visit = pd.read_csv("C:\\Users\\14024\\OneDrive\\Desktop\\MS-DSC\\DSC-540\\\Week-6\visit_data.csv")

OSError: [Errno 22] Invalid argument: 'C:\\Users\\14024\\OneDrive\\Desktop\\MS-DSC\\DSC-540\\\\Week-6\x0bisit_data.csv'

In [5]:
# Insert data into a SQL Lite database â€“ create a table with the following data below that you will create yourself.
# Name, Address, City, State, Zip, Phone Number


import sqlite3
query = """
create table cust_infrmn (Name VARCHAR(100), Address VARCHAR(250), City VARCHAR(50), State VARCHAR(50), ZIP INTEGER,
                       Phone_nmuber VARCHAR(12));"""
                       
con = sqlite3.connect("mydata.sqlite")
con.execute(query)
con.commit()

In [6]:
# Add at least 10 rows of data and submit your code with a query generating your results.

data=[("JASON","123 Maple st", "Elkhorn", "NE", 68022, "402-111-2222"),
     ("JACK","234 Pacific st", "Omaha", "NE", 68107, "402-222-3344"),
     ("SAM","123 Blondo st", "Elkhorn", "NE", 68022, "402-222-5566"),
     ("LETTY","234 WC Road st", "Omaha", "NE", 68135, "402-123-1234"),
     ("REMI","345 181st Av", "Elkhorn", "NE", 68022, "402-112-1954"),
     ("RIG","234 Fort St.", "Elkhorn", "NE", 68022, "402-744-2345"),
     ("RON","456 DEVENPORT AV", "Omaha", "NE", 68135, "402-546-1982"),
     ("SAMUEL","777 J ST", "Omaha", "NE", 68135, "402-221-1122"),
     ("NATHAN","1234 M ST", "Omaha", "NE", 68135, "402-234-1972"),
     ("NICK","567 L ST", "Omaha", "NE", 68135, "402-123-1234"),]

stmt = "INSERT INTO cust_infrmn VALUES (?,?,?,?,?,?)"
con.executemany(stmt, data)
con.commit()

cursor = con.execute("select * from cust_infrmn")

rows = cursor.fetchall()
rows

[('JASON', '123 Maple st', 'Elkhorn', 'NE', 68022, '402-111-2222'),
 ('JACK', '234 Pacific st', 'Omaha', 'NE', 68107, '402-222-3344'),
 ('SAM', '123 Blondo st', 'Elkhorn', 'NE', 68022, '402-222-5566'),
 ('LETTY', '234 WC Road st', 'Omaha', 'NE', 68135, '402-123-1234'),
 ('REMI', '345 181st Av', 'Elkhorn', 'NE', 68022, '402-112-1954'),
 ('RIG', '234 Fort St.', 'Elkhorn', 'NE', 68022, '402-744-2345'),
 ('RON', '456 DEVENPORT AV', 'Omaha', 'NE', 68135, '402-546-1982'),
 ('SAMUEL', '777 J ST', 'Omaha', 'NE', 68135, '402-221-1122'),
 ('NATHAN', '1234 M ST', 'Omaha', 'NE', 68135, '402-234-1972'),
 ('NICK', '567 L ST', 'Omaha', 'NE', 68135, '402-123-1234')]